<div class="page">
  <div class="card">
    <h1 class="card-title">{{{ title }}}</h1>
    <form class="card-body">
      {{{ inputLogin }}}
      {{{ inputPassword }}}
      <div class="buttons-group">
        {{{ linkSignUp }}}
        {{{ buttonSubmit }}}
      </div>
    </form>
  </div>
</div>
