<div class="{{style.modal}} {{#if isOpen }}{{style.is-open}}{{/if}}">
  {{{background}}}
  <div class="{{style.window}}">
    <div class="{{style.header}}">
      <h3>{{title}}</h3>
    </div>
    <div class="{{style.body}}">
      {{{content}}}
    </div>
  </div>

</div>
