<form class="card-body">
  {{{ email }}}
  {{{ login }}}
  {{{ first_name }}}
  {{{ second_name }}}
  {{{ phone }}}
  {{{ password }}}
  {{{ confirm_password }}}
  <div class="buttons-group">
    {{{ linkLogIn}}}
    {{{ buttonSubmit }}}
  </div>
</form>
