<form class="card-body">
  {{{ inputEmail }}}
  {{{ inputLogin }}}
  {{{ inputFirstName }}}
  {{{ inputSecondName }}}
  {{{ inputPhone }}}
  {{{ inputPassword }}}
  {{{ inputConfirmPassword }}}
  <div class="buttons-group">
    {{{ linkLogIn}}}
    {{{ buttonSubmit }}}
  </div>
</form>
