<form class="card-body cols-item">
  {{{ inputEmail }}}
  {{{ inputLogin }}}
  {{{ inputFirstName }}}
  {{{ inputSecondName }}}
  {{{ inputNickname }}}
  {{{ inputPhone }}}
  <div class="buttons-group">
    {{{ linkChangePassword }}}
    {{{ buttonSubmit }}}
  </div>
</form>
