<form class="card-body cols-item">
  {{{ email }}}
  {{{ login }}}
  {{{ first_name }}}
  {{{ second_name }}}
  {{{ display_name }}}
  {{{ phone }}}
  <div class="buttons-group">
    {{{ linkChangePassword }}}
    {{{ buttonSubmit }}}
  </div>
</form>
