<div class="input">
  {{#if label}}
    <label for="{{id}}" class="{{style.label}}">{{label}}</label>
  {{/if}}
  <div class="{{style.input}}
    {{#if error}} {{style.inputError}} {{/if}}
    {{#if disabled}} {{style.inputDisabled}} {{/if}}
  ">
    {{{ inputEl }}}
    {{#if error}}
      <i class="{{style.iconError}}">
        {{{ iconError }}}
      </i>
    {{/if}}
  </div>
  {{#if error}}
    <span class="{{style.error}}">{{error}}</span>
  {{/if}}
</div>
