<div class="page">
  <div class="main">
    <aside class="{{ style.aside }}">
      <div class="{{ style.aside-header}}">
        <div class="buttons-group">
          {{{ linkProfile }}}
        </div>
        <form>
          {{{ inputSearch }}}
        </form>
      </div>
      <div class="{{ style.aside-body}}">
        <div class="{{ style.chats }}">
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
        </div>
      </div>
    </aside>
    <div class="{{ style.chat }}">
        {{{ chatHeader }}}
        {{{ chatBody }}}
        {{{ chatFooter }}}
    </div>
  </div>
</div>
