<div class="page">
  <div class="main">
    <aside class="aside">
      <div class="aside-header">
        <div class="buttons-group">
          {{{ linkProfile }}}
        </div>
        <form>
          {{{ inputSearch }}}
        </form>
      </div>
      <div class="aside-body">
        <div class="chats">
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
            {{{ chatItem }}}
        </div>
      </div>
    </aside>
    <div class="chat">
      <div class="chat-header">
        Шапка чата
      </div>
      <div class="chat-body">

      </div>
      <div class="chat-footer">

      </div>
    </div>
  </div>
</div>
