<div class="page">
  <div class="main">
    <aside class="{{ style.aside }}">
      <div class="{{ style.asideHeader}}">
        <div class="buttons-group">
          {{{ buttonAddChat }}}
          {{{ linkProfile }}}
        </div>
        <form>
          {{{ inputSearch }}}
        </form>
      </div>
      <div class="{{ style.asideBody}}">
        <div class="{{ style.chats }}">
          {{{ chatItems }}}
        </div>
      </div>
    </aside>
    <div class="{{ style.chat }}">
      {{#if selectedChat}}
        {{{ chatHeader }}}
        {{{ chatBody }}}
        {{{ chatFooter }}}
      {{else}}
        <div class="{{ style.empty }} text-main">Select chat</div>
      {{/if}}
    </div>
  </div>
  {{{ modal }}}
</div>
