<form class="{{ style.chatFooter }}">
  <textarea class="text-caption {{ style.textarea }}" name="message" id="message"
            placeholder="Сообщение"></textarea>
  <div class="{{ style.buttonsGroup }}">
    {{{ linkButton }}}
    {{{ submitButton }}}
  </div>
</form>
