<form class="{{ style.chat-footer }}">
  <textarea class="text-caption {{ style.textarea }}" name="message" id="message"
            placeholder="Сообщение"></textarea>
  <div class="{{ style.buttons-group }}">
    {{{ linkButton }}}
    {{{ submitButton }}}
  </div>
</form>
