<div class="page">
  <div class="buttons-group page-nav">
    {{{ linkBack }}}
    {{{ buttonLogout }}}
  </div>
  <div class="card card__lg">
    <h1 class="card-title">{{ title }}</h1>
    <div class="cols">
      <div class="cols-item">
        {{{ inputAvatar }}}
      </div>
      <form class="card-body cols-item">
        {{{ inputEmail }}}
        {{{ inputLogin }}}
        {{{ inputFirstName }}}
        {{{ inputSecondName }}}
        {{{ inputNickname }}}
        {{{ inputPhone }}}
        <div class="buttons-group">
          {{{ linkChangePassword }}}
          {{{ buttonSubmit }}}
        </div>
      </form>
    </div>
  </div>
</div>
