<div class="page">
  <div class="buttons-group page-nav">
    {{{ linkBack }}}
    {{{ buttonLogout }}}
  </div>
  <div class="card card__lg">
    <h1 class="card-title">{{ title }}</h1>
    <div class="cols">
      <div class="cols-item">
        {{{ inputAvatar }}}
      </div>
      {{{ form }}}
    </div>
  </div>
</div>
