<div class="page">
  <div class="card">
    <h1 class="card-title">{{ title }}</h1>
    <form class="card-body">
      {{{ inputEmail }}}
      {{{ inputLogin }}}
      {{{ inputFirstName }}}
      {{{ inputSecondName }}}
      {{{ inputPhone }}}
      {{{ inputPassword }}}
      {{{ inputConfirmPassword }}}
      <div class="buttons-group">
        {{{ linkLogIn}}}
        {{{ buttonSubmit }}}
      </div>
    </form>
  </div>
</div>
