<div class="page">
  <div class="card">
    <h1 class="card-title">
      UI
    </h1>
    <div class="card-body">
      {{{ button }}}
      {{{ link }}}
      {{{ input }}}
      {{{ inputWithValue }}}
      {{{ inputWithError }}}
      {{{ inputDisabled }}}
      {{{ inputImg }}}
      {{{ errorPage }}}
    </div>
  </div>
</div>
