<div class="page {{ style.wrapper }}">
  <h1>{{title}}</h1>
  {{#if icon}} {{{ icon }}} {{/if}}
  {{#if description}}
    <p class="text-main">
      {{description}}</p>
  {{/if}}
  {{#if link}} {{{ link }}} {{/if}}
</div>
